<%- include('layouts/header'); -%>
<tr>
    <td style="padding: 20px;">
        <p style="font-size: 16px;font-family: 'Arial';line-height: 1.7;margin-top: 0;">Dear <%= name %>,</p>
        <p style="font-size: 16px;font-family: 'Arial';line-height: 1.7;">We received a request to reset the password for your Jobseekers account. If you did not make this request, please ignore this email. No changes will be made to your account.</p>

        <p style="font-size: 16px;font-family: 'Arial';line-height: 1.7;">To reset your password, please click on the button below:</p>
        <a href="<%= `${baseUrl}${route}/${forgetPasswordToken}` %>" style="display: inline-block;background: #000;padding: 12px 30px;color: #fff;text-decoration: none;font-family: 'Arial';font-weight: 700;cursor: pointer;">Change Password</a>        

        <p style="font-size: 16px; font-family: 'Arial'; line-height: 1.7;">Best regards,</p>
        <p style="font-size: 16px; font-family: 'Arial'; line-height: 1.7;">Admin Team</p>
    </td>
</tr>
<%- include('layouts/footer'); -%>
