<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            margin: 0;
            background: #D3F1DF;
            font-family: 'Arial', sans-serif;
        }

        .container {
            width: 700px;
            margin: 50px auto 0;
            background: #fff;
            border-collapse: collapse;
            border-radius: 8px;
            overflow: hidden;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        .header {
            padding: 20px;
            background-color: #85A98F;
            color: #525B44;
            text-align: center;
            border-bottom: 1px solid #5A6C57;
        }

        .header h2 {
            font-size: 24px;
            margin: 0;
        }

        .content {
            padding: 20px;
        }

        .content p {
            font-size: 16px;
            line-height: 1.5;
            color: #5A6C57;
        }

        .button {
            display: inline-block;
            padding: 10px 20px;
            margin-top: 20px;
            font-size: 16px;
            color: #fff;
            background-color: #5A6C57;
            text-decoration: none;
            border-radius: 4px;
        }

        .footer {
            padding: 20px;
            border-top: 1px solid #85A98F;
            background-color: #D3F1DF;
            text-align: center;
        }

        .footer p {
            margin: 0;
        }

        .footer .bold {
            font-weight: 700;
            color: #525B44;
        }

        .footer .italic {
            font-size: 12px;
            font-style: italic;
            color: #5A6C57;
        }
    </style>

</head>

<body>
    <table class="container">
        <thead>
            <tr>
                <td class="header">
                    <h2>Job Seekers</h2>
                </td>
            </tr>
        </thead>
        <tbody>